.not-found-container {
  width: 100%; //vw
  height: 100%; //vh
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

}
h2 {
  margin-bottom: 20px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .not-found-container {
    padding: 0px;
    padding-top: 30px;
  }
  h2 {
    font-size: 18px;
  }
}