.split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 5px;

    div {
        padding: 10px;
        border: solid #0b868f 1px;
        border-radius: 10px;
        color: gray;
        margin: 0px;

        p {
            text-align: center;
            margin: 0;
        }

        p:last-child {
            font-weight: bold;
            color: black;
        }
    }
}

/* Téléphone */
@media (max-width: 768px) {

    .split {  
        align-items: center;
        gap: 5px;
        margin: 0px;
        div {
            padding: 2px;
            width : 100%;
        }
    }
}