.app-header {
  padding: 8px;
}

.app-container {

  display: flex;

  justify-content: center;

  width: 100%;
  height: 100% ;

}

.app-content {

  width: 100%;


  padding: 16px;

}

/* Téléphone */
@media (max-width: 768px) {

  .app-header h2 {
    font-size: 20px;
  }
  .app-content {

    padding: 8px;

  }

}