@if (homeDatas$ | async; as homeDatas) {
<div class="page-container">
  <!-- Loading -->
  @if (homeDatas.state === 'loading') {
  <div class="page-content">
    <app-header [title]="titlePage"></app-header>
    <app-spinner></app-spinner>
  </div>
  }

  <!-- Error -->
  @if (homeDatas.state === 'error') {
  <div class="page-content">
    <app-header title="Error"></app-header>
    <p>{{ homeDatas.error }}</p>
  </div>
  }
  <!-- Empty -->
  @if (homeDatas.state === 'empty') {
  <div class="page-content">
    <app-header title="Aucune Donnée"></app-header>
  </div>
  }
  <!-- Loaded-->
  @if (homeDatas.state === 'loaded') {
  <div class="page-content">
    <app-header [title]="titlePage" [dataCards]="homeDatas.dataCards!"></app-header>
    <app-chart-container [type]="'pie'" [ids]="homeDatas.chartData.ids" [labels]="homeDatas.chartData.labels" [values]="homeDatas.chartData.values" legend="Total Medals by Country"></app-chart-container>
  </div>
  }
</div>
}