.back-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.back-link {
  text-decoration: none;
  color: #158f97;
  padding: 8px 16px;
  border: 1px solid #0b868f;
  border-radius: 8px;
  transition: 0.2s;
}

.back-link:hover {
  background-color: #0b868f;
  color: white;
}

/* Téléphone */
@media (max-width: 768px) {

  .back-container {
    margin-top: 15px;
  }  
  .back-link {
    width: 100%;
    max-width: 200px;
    text-align: center;
  }

}

